
.navbar {
  margin-bottom: 0px;
}

.navbar-default {
	color: white;
  background-color: #f19124;
  border-top: white solid 5px;
  border-right: none;
  border-left: none;
  border-bottom: none;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: white;
  background-color: #F2AE61;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #442a19;
  background-color: white;
}

